.features
	margin-bottom: 83px
	&__list
	&-img
		height: 250px
		background-size: 100% 100%
		background-position: center
		margin: 0 auto
		&_1
			background-image: url("../img/icons/pic1.svg")
		&_2
			background-image: url("../img/icons/pic2.svg")
		&_3
			background-image: url("../img/icons/pic3.svg")
		&_4
			background-image: url("../img/icons/pic4.svg")
	&-title
		color: #2f2f2f
		font-family: "Open Sans"
		font-size: 16px
		font-weight: 600
		text-align: center
	&-desc
		color: #6f6f6f
		font-family: "Myriad Pro Regular"
		text-align: center
		font-size: 12px
		font-weight: 400
		line-height: 24px