.team
	padding-top: 22px
	&__nav
		display: flex
		&-backbutton
			margin-right: 16px
		&-title
			display: flex
			align-items: center
			color: #0a0a0a
			font-family: "Open Sans"
			font-size: 18px
			font-weight: 600
			text-transform: uppercase
	&__workers
		&-worker
			padding: 30px 0
		&-img
			height: 170px
			width: 170px
			border: 1px solid #828282
			background-color: #fff