.team
	padding-top: 22px
	&__nav
		display: flex
		&-backbutton
			margin-right: 16px
		&-title
			display: flex
			align-items: center
			color: #0a0a0a
			font-family: "Open Sans"
			font-size: 18px
			font-weight: 600
			text-transform: uppercase
	&__workers
		margin-bottom: 56px
		&-worker
			display: flex
			flex-direction: row
			padding-top: 30px
			padding-bottom: 30px
		&-img
			margin-left: auto
  	margin-right: auto
  	padding-top: 50%
  	padding-bottom: 50%
   width: 100%
			border: 1px solid #828282
			background-image: url("../img/mafioznik-mem.jpg")
			background-size: 100% auto
			background-position: center
			&-wrapper
		&-text
			display: flex
			flex-direction: column
			justify-content: space-between
		&-title
			color: #141414
			font-family: "Myriad Pro Regular"
			font-size: 18px
			font-weight: 400
			margin: 0
		&-desc
			margin-top: 16px
			margin-bottom: auto
			color: #6f6f6f
			font-family: "Myriad Pro Semibold"
			font-size: 12px
			font-weight: 400
			line-height: 24px
		&-about
			background-color: #5da29c
			border: none
			color: #ffffff
			font-family: "Open Sans"
			font-size: 12px
			font-weight: 600
			width: 120px
			height: 40px
			text-transform: uppercase
			letter-spacing: 1.2px