.contacts
	margin-bottom: 46px
	&__form
		margin-top: 30px
	&-input
		height: 40px
		width: 100%
		border: 1px solid #c3c3c3
		font-size: 14px
		font-family: "Open Sans"
		padding: 0 15px
		color: #887f80
	&-textarea
		height: 288px
		padding: 17px 15px
		&-wrapper
			margin-top: 22px
			margin-bottom: 27px
	&-submit
		width: 100%
		height: 42px
		background-color: white
		border: 2px solid #352627
		font-family: "Open Sans"
		font-size: 18px
		font-weight: 600
		text-transform: uppercase