.geography
	width: 100%
 background-image: linear-gradient(to top, #ffffff 0%, #d9d9d9 100%)
 background-repeat: no-repeat
 background-position: center center
 position: relative
 height: 800px
 &_type
 	&_separate
 		background-image: none
 		height: auto !important
 		.geography__map
 			position: static
 			svg
 				height: auto
 .container
 	position: relative
 &__content
 	position: relative
 	z-index: 20
 	padding-top: 52px
 	width: 47.826087%
	 &-stick
			width: 100%
			height: 7px
			background-color: $extraColor
		&-title
			color: #120001
			font-family: "Open Sans"
			font-size: 28px
			font-weight: 700
			text-transform: uppercase
			letter-spacing: 3px
			line-height: 66px
		&-desc
			color: #000000
			font-family: "Open Sans"
			font-size: 14px
			font-weight: 400
			line-height: 25px
	&__map
		position: absolute
		width: 100%
		top: 25px
		svg
			width: 100%
			height: 680px
		&_separate
			top: 0
			margin-bottom: 0
		&-content
			width: 100%
			height: 100%
			background-size: 100% auto
			background-repeat: no-repeat
			background-image: url('../img/geography/geography.svg')
	&__popover
		top: -5px !important
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.51)
		border-radius: 0
		border: 3px solid #5da29c
		.popover
			&-header
				margin-left: 1px
				border: none
				background-color: white
				padding: 15px 15px 6px 15px
				color: #120001
				font-family: "Open Sans"
				font-size: 16px
				font-weight: 700
				text-transform: uppercase
			&-body
				padding: 6px 15px 15px 15px
.bs-popover-right
	left: 15px !important
	.arrow
		left: calc((20px + 1px) * -1) !important
		border-width: 30px !important
		&:before
			border-width: 13px 20px 13px 0 !important
			border-right-color: #5da29c !important
		&:after
			border-width: 13px 20px 13px 0 !important
			left: 7px !important
.bs-popover-left
	left: -15px !important
	.arrow
		right: calc((20px + 1px) * -1) !important
		border-width: 30px !important
		&:before
			border-width: 13px 0 13px 20px !important
			border-left-color: #5da29c !important
		&:after
			border-width: 13px 0 13px 20px !important
			right: 7px !important
.bs-popover-bottom
	top: 15px !important
	left: -5px !important
	.arrow
		top: calc((20px + 1px) * -1) !important
		border-width: 30px !important
		&:before
			border-width: 0px 13px 20px 13px !important
			border-bottom-color: #5da29c !important
		&:after
			border-width: 0px 13px 20px 13px !important
			top: 7px !important