.partners
	margin-bottom: 83px
	&__partners
		margin-bottom: 53px
		&-partner
			padding-top: 30px
		&-img
			margin-left: auto
   margin-right: auto
   padding-top: 50%
   padding-bottom: 50%
   width: 100%
   border: 1px solid #828282
   background-image: url("../img/partners/2.png")
   -webkit-background-size: 100% auto
   background-size: 100% auto
   background-position: center
   background-repeat: no-repeat
  &-text
			font-family: "Myriad Pro Regular"
			font-weight: 400
			width: 92%
			&-wrapper
		&-title
			color: #141414
			font-size: 24px
		&-desc
			color: #6f6f6f
			font-size: 14px
			font-weight: 400
	&-partner
		margin-top: 30px
		border: 1px solid #c3c3c3
		height: 270px
		background-repeat: no-repeat
		background-position: center center
		background-image: url("../img/products/2.png")
	&__nav
		&-right
			display: flex
			justify-content: flex-end
		&-left
			display: flex
			justify-content: flex-start