@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.hr
	width: 100%
	height: 1px
	background-color: #dfdfdf
input:active, :hover, :focus
    outline: 0
    outline-offset: 0

@import "../blocks/header/header"
@import "../blocks/nav/nav"
@import "../blocks/footer/footer"
@import "../blocks/contacts/contacts"
@import "../blocks/banner/banner"
@import "../blocks/devices/devices"
@import "../blocks/noui/noui"
@import "../blocks/geography/geography"
@import "../blocks/partners/partners"
@import "../blocks/team/team"
@import "media" // Всегда в конце
