.footer
	&__content
		padding-bottom: 44px
		background-color: #fafafa
	&__nav
		padding: 0
	&__about-row
		height: 94px
		margin-bottom: 13px
	&__logo
		height: 100%
		img
			height: 100%
	&__contacts
		height: 100%
		&-list
			height: 100%
			list-style: none
			padding: 0
			display: flex
			flex-direction: column
			justify-content: space-around
			margin: 0
		&-elem
			font-size: 14px
			font-weight: 500
			span
  			font-weight: 600
			&:before
				content: ''
  		display: inline-block
  		margin-right: 8px
		&-email
			&:before
				background-image: url("../img/icons/mail.svg")
				height: 10px
				width: 10px
		&-phone
			&:before
				background-image: url("../img/icons/phone.svg")
				height: 10px
				width: 10px
		&-address
			&:before
				background-image: url("../img/icons/pin.svg")
				height: 9px
				width: 9px
	&__subscribe
		display: flex
		flex-direction: column
		justify-content: space-around
		height: 100%
		&-title
			color: #2f2f2f
			font-family: "Open Sans"
			font-size: 16px
			font-weight: 600
			line-height: 25px
			text-transform: uppercase
		&-input
			display: flex
			justify-content: center
			height: 40px
			input
				width: 100%
				padding: 16px 14px
				font-size: 12px
				line-height: 1px
				border: 1px solid #c3c3c3
				color: #887f80
	&__requisites
		display: flex
		justify-content: flex-end
	&__requisite
		background-image: url("../img/cards.png")
		width: 136px
		height: 42px
		background-size: 100% 100%
	&__social
		float: right
	&__service
		display: flex
		align-items: center
		padding-top: 30px
		padding-bottom: 35px
		box-sizing: border-box
	&__copyright
		color: #848484
		font-family: "Open Sans"
		font-size: 14px
		font-weight: 400
		text-align: right
		padding: 0